@import './Mini6Utils';

:local .wrapperSassComponent {
    background: black;
    padding: 2rem;
    color: yellow;
    font-size: 3rem;
}

.SassComponent {
    display: flex;
    background: $oc-gray-2;

    @include media('<768px') {
        background: $oc-gray-9;
    }

    .box {
        background: red;
        cursor: pointer;
        transition: all 0.3s ease-in;

        &.red {
            background: $red;
            @include square(1);
        }

        &.orange {
            background: $orange;
            @include square(2);
        }

        &.yellow {
            background: $yellow;
            @include square(3);
        }

        // 추가
        &.green {
            background: $green;
            @include square(4, 4px solid $blue);
        }

        &.blue {
            background: $blue;
            @include square(5);
        }

        &.indigo {
            background: $indigo;
            @include square(6);
        }

        &.violet {
            background: $violet;
            @include square(7);
        }

        // 추가
        &.pink {
            background: $pink;
            @include square(8);
            &:hover{
                background: white;
            }
        }

        &:hover {
            background: black;
        }

        
    }
    .box {
        &:first-child {
            background: $indigo;
        }
    
        &:last-child {
            background: $violet;
        }
}
}
